{:paths ["src" "test"]
 :bbin/bin
 {formpatch {:main-opts ["-m" "formpatch.cli/-main"]}}
 :tasks
 {formpatch {:doc "Run the Formpatch CLI"
               :requires ([formpatch.cli :as cli])
               :task (System/exit (apply cli/-main *command-line-args*))}}}
